.github {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  /* end navbar inner  */

}
.github .navbar-inner {
  border-radius: 0;
}
.github .navbar-inner .logo {
  background: url(../img/CL_Logo_RGB_R.png) no-repeat;
  display: inline-block;
  width: 248px;
  height: 60px;
  text-indent: -9000px;
  margin: 10px 0 0 0;
}
.github .container-fluid .projects {
  list-style-type: none;
  list-style: none;
}
.github .container-fluid .project {
  background: url(../img/white_70.png) transparent;
  border-radius: 10px;
  padding: 8px;
  width: 20%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  list-style-type: type;
  list-style: none;
  min-height: 120px;
}
.github .container-fluid .project:hover {
  background: #ffffff;
  cursor: pointer;
}
.github .container-fluid .project h4 {
  margin: 0;
  padding: 0;
}
.github .container-fluid .project h6 {
  font-size: 0.8em;
  color: #444444;
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: normal;
}
