.github {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;


  .navbar-inner {
    border-radius: 0;
    .nav {
      margin: 6px 0 0 0;
    }


    .logo {
      background: url(../img/CL_Logo_RGB_R_oss.png) no-repeat;
      display: inline-block;
      margin: 8px 0 0 0;
      width: 370px;
      text-indent: -9000px;
    }
  } /* end navbar inner  */


  .container-fluid {
    padding: 0;
    .projects {
      list-style-type: none;
      list-style: none;
    }
    .project {
      background: url(../img/white_70.png) transparent;
      border-radius: 10px;
      width: 20%;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      list-style-type: type;
      list-style: none;

      box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.75);
      border: 2px solid #FFFFFF;

      &:hover {
        background: #ffffff;
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        min-height: 120px;
        padding: 8px;
      }

      h4 {
        margin: 0;
        padding: 0;
      }

      h6 {
        font-size: 0.8em;
        color: #444444;
        margin: 0 0 8px 0;
        padding: 0;
        font-weight: normal;
      }
    }
  }
}

